* {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'
}

button {
    background-color: white; 
    border-width: 0.5;
}

.title {
    border: none; 
    text-align: left; 
    font-size: xxx-large; 
}

.bigSelectBox {
    border: none;
    text-align: left; 
    font-size: xx-large; 
}

.smallSelectBox {
    border: none;
    text-align: left;
    font-size: large;
}

.normalText {
    text-align: right;
}