* {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'
}

button {
    background-color: white; 
    border-width: 0.5;
}
/* align this button to the right */
.rightButton {
    float: right;
}

/* make a button that's italic */
.italicButton {
    font-style: italic;
    border-color: #CCCCCC;
    color: #333333;
}

/* Make a style for a more exciting button */
.excitingButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    font-size: 32px;
}

input[type="text"] {
    width: 400px;
}

.title {
    border: none; 
    text-align: left; 
    font-size: xxx-large; 
}

.bigSelectBox {
    border: none;
    text-align: left; 
    font-size: xx-large; 
}

.smallSelectBox {
    border: none;
    text-align: left;
    font-size: large;
}

.normalText {
    text-align: right;
}

/* create a table style with a thin border */
.thinTable {
    border-collapse: collapse;
    border: 1px solid black;
}
/* add grid lines to this table */
.thinTable td, .thinTable th {
    border: 1px solid black;
    padding: 5px;
}
/* make the table header bold */
.thinTable th {
    font-weight: bold;
    background: #E8E8E8;
}

